html {
  font-family: "IBM Plex Serif", serif;
  font-size: 14px;
}

body {
  padding: 0;
  margin: 0;
  background-color: rgb(77, 78, 101);
  overflow-x: hidden;
}

main {
  overflow: hidden;
}

header,
footer {
  margin: 0px 100px;
}

.homeLink {
  padding: 20px;
}

nav {
  background-color: white;
  display: flex;
  padding: 5px 100px;
  align-items: center;
  justify-content: space-between;
}

.fa-home {
  font-size: 40px;
  color: rgb(181, 133, 12);
}

.logo-wrapper {
  display: flex;
  margin-right: 100px;
  width: 40%;
  align-items: center;
}

.logo-img {
  padding: 10px 20px;
}

.logo-img img {
  max-width: 120px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 0px grey;
}

.logo{
  display: flex;
}

.logo-content {
  display: flex;
  flex-direction: column;
}

.logo-content-text,
.logo-content-date {
  text-align: left;
  color: grey;
}

.logo-content-text {
  font-family: "Permanent Marker", cursive;
  font-size: 22px;
  margin-bottom: 0px;
}

.logo-content-date {
  margin-top: 10px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0px;
  align-items: center;
  margin-left: 30px;
}

.nav-list li {
  padding: 0px 10px;
  margin-left: 50px;
  width: max-content;
  border-radius: 6px;
  box-shadow: 1px 1px 1px 1px grey;
}

a {
  text-decoration: none;
}

.fa-2x {
  font-size: 30px;
  color: grey;
}

.header.nav::after {
  content: "";
  background-image: url("/images/logo.JPG");
  opacity: 0.2;
  background-size: cover;
  width: 500px;
  height: 500px;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  right: 0px;
  top: -61px;
  z-index: -1;
}

/* dropdown menu */
.dropbtn {
  background-color: white;
  color: black;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn.contact {
  position: relative;
  display: inline-block;
  padding: 15px 16px 0px 16px;
  min-height: 30px;
}

.dropbtn.contact:hover {
  color: rgb(181, 133, 12);
  background-color: white;
}

.dropbtn a {
  color: black;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 6px;
  min-height: 30px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: rgb(181, 133, 12);
}
.dropdown:hover .dropbtn a {
  color: rgb(181, 133, 12);
}
.dropdown:hover .dropbtn i {
  color: rgb(181, 133, 12);
  transform: rotate(90deg);
}

/*main container*/
.main-container {
  margin: 80px 160px;
  opacity: 1;
  z-index: -3;
}

.footer.nav {
  align-items: flex-start;
}

.footer-section-list {
  list-style: none;
  padding-left: 0px;
}

.footer-section-list a {
  color: rgb(181, 133, 12);
}

.fa-facebook-square {
  font-size: 30px;
}

.develop-info {
  text-align: center;
}

.redirect-to-home {
  margin-top: 50px;
  text-align: right;
}

.redirect-to-home a {
  padding: 10px 20px;
  border-radius: 15px;
  background-color: rgb(181, 133, 12);
  color: white;
}

.redirect-to-home a:hover {
  color: rebeccapurple;
  font-weight: bold;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 15px;
}

@media screen and (max-width: 1280px) {
  .header.nav {
    padding-left: 10px;
    padding-right: 10px;
  }
  .logo-wrapper {
    margin-right: 0px;
  }
  
}

@media screen and (max-width: 1200px) {
  .header.nav {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .logo-wrapper{
    width: max-content;
  }
  .footer.nav {
    padding: 5px 20px;
  }
  .nav-list{
    flex-direction: column;
    margin-top: -10px;
  }
  .nav-list li{
    margin-left: 0px;
    margin-top: 20px;
    width: 160px;
  }
}

@media screen and (max-width: 992px) {
  footer,header{
    margin: 0px 30px;
  }
  .main-container {
    margin-left: 55px;
    margin-right: 55px;
  } 
  .footer.nav {
    flex-direction: column;
    align-items: center;
  }

  .footer-section{
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .logo{
    flex-direction: column;
  }
}

@media screen and (max-width:625px){
  
  .header.nav{
    justify-content: space-around;
  }
  
  .logo-content-text{
    margin-top: 0px;
    font-size: 18px;
  }
  .logo-content-date{
    margin-bottom: 0px;
  }
  .logo-img{
    padding-left: 0px;
    padding-right: 0px;
  }
  .nav-list{
    margin-left: 15px;
  }
  .nav-list li{
    width: 100px;
  }
}
@media screen and (max-width: 492px){
  .logo-wrapper{
    width: 30%;
  }
  .header.nav{
    justify-content:space-between;
    align-items: stretch;
  }
}
@media screen and (max-width: 480px) {
  footer,header{
    margin: 0px;
  }
  .homeLink{
    padding-right: 10px;
  }
  .main-container {
    margin-left: 30px;
    margin-right: 30px;
  } 
  .dropbtn.contact{
    padding: 15px 6px 0px 6px;
  }

}
@media screen and (max-width: 480px){
  .logo-img img{
    width: 80px;
  }
}

